doctype html
html(lang="en")
	include ./head.jade
	body
		include ./header.jade
		div(class='wrapper')
			div(class='nameContainer')
				each user in basicData
						div(class='nameBlock_new')
							div(class='name') !{user.name}
								div(class='repo-details')
									div(class='left')
										label(class='decor') Total Repos
										h3(class='count-labler') !{user.totalCount}
									div(class='right')
										label(class='decor') Repositories
										li !{user.repos[0]}
										li !{user.repos[1]}
										a(href='/interns/'+user.name)
											li(style='float:right') More...
