div(class='header')
    div(class='logo')
        h1(id='page-name') Git Status
    div(class='local-heading')
    div(class='others')
        div(class='log-out')
            form(name="signout",method="get",action="/logout" id="logout")
                input(type="submit",value="Logout",id="logout-button")
        div(class='search-bar')
            form(name="searchForm",method="get",action="search",id="searchForm")
                input(type="text", name="gitId",placeholder="Enter a gitHub id...",id="search" required)
                input(type="submit",value="Search",id="submit")
