doctype html
html(lang="en")
    include ./head.jade
    body
        include ./navigation.jade
        div(class='wrapper')
            div(class='about')
                div(class='description')
                    include ../data/description.txt
                div(class='list')
            div(align="center")
            div(id="loginScreen")
                a(href="/auth/facebook")
                    img(src="./images/facebook-login.png",class="login-image")
                a(href="#",class="cancel") &times
            div(id="cover")
