body{
	font-family: "Segoe UI",Arial,sans-serif;
}

h2{
	width: 290px;
	margin: 0 auto;
	text-align: center;
}

.nameContainer{
	width: 100%;
	height: 1500px;
	padding : 10px;
	margin : 0 auto;
}

.wrapper{
	width :90%;
	margin : 120px auto;
}

.nameBlock_new{
	width: 250px;
	height: 100px;
	background-color: #E6E6E6;
	margin: 0 3px 3px 0;
	padding: 20px 20px 25px 20px;
	text-align: center;
	overflow-x: inherit;
	float: left;

	text-decoration: none;
	color : #000;
	font-weight: 500;
	border-radius: 3px;
}

.nameBlock_new:hover {
	transition: background-color 0.2s ease;
	box-shadow: 0 10px 6px -6px #777;
	background-color: lightgrey;
}

.name{
	font-size: 18px;
}

.repo-details{
	padding-top: 20px;
}

.left{
	float:left;
	width: 35%;
	padding: 5px;
	font-size: 14px;
}

.right{
	float: left;
	width: 55%;
	font-size: 15px;
	background-color: transperent;
	margin-left: 10px ;
	padding-top: 5px ;
	text-align: left;
	overflow-x: hidden;
}

li{
	list-style-type: none;
}

.count-labler{
	font-size:20px;
	font-weight:bold;
	margin-top: 7px;
	padding-top: 5px;
}

.decor{
	border-bottom: 1px grey solid;
}

a{
	color: #203b90;
}
a:hover{
	text-decoration: underline;
	color : blue;
}
a:active{
	color: red;
}
